.inline-block{
    display: inline-block;
    vertical-align: top;
}
.inline-block logo {
    width: 23%;
    padding: 1%;
    
}
.nav{
    width: 73%;
    padding: 1%;

   

}
.ul{
    width: 50%;
    margin-left: auto;
}

.logo{
text-align: center;
}

.heroImg img{
    height: 600px;
    width: 400px;
    padding: 25px;

}
.content{
width: 500px;
margin: auto;
}

footer{
    background-color: #FC8903;
}

.footer ul{
    text-align: center;
} 

/*My UX Skills section coded using CSS flex*/

.mySkills{
text-align: center;
padding-top: 10%;
}

.mySkills img{
    height:auto;
    width:30%;
}

.flexContainer{
    width: 100%;
    display:flex;
    

}

.myWork{
    grid-area:myWork;
    text-align: center;

    
}


.workGrid{
    display: grid;
    grid-template-areas: "myWork myWork";
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
}

.thirtyThree{
    width:33%;
    display:none;
    padding: 5%;
    box-shadow: 10px 10px 5px #636161;
}

.Brooklynimg{


}
.Brooklynimg img{
height: 175px;
width: auto;
}

.BBimg{

}

.BBimg img{
height: 175px;
width: 100px;
}

.Cs3img{

}

 .Cs3img img{
height:auto;
width: 400px;;
}

@media only screen and (max-width:600px){.workGrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:0%;
    ;}
}

body{
    background-color: #f9DD78;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@font-face{
    font-family: 'Arima';
    src:url(../Arima.zip);
}


nav{
    background-color: #FC8903;
}

#h1Skills{
    border: 1px solid black;
    box-shadow:10px 10px 5px #3d3d3d;
    display:none;
}

.uxSkills{
    color: #f7e954;
    background-color: #FC8903;
    font-size: x-large;font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 box-shadow: 10px 5px 10px #3d3d3d;
}
button{
    background-color: #a01bc2;
    color: white;
}

.vapHeader{
    background-color: #a01bc2;
    color: white;
}

.skillsButton{
padding-bottom: 5%;
}

.bbDiv{
    background-color: #F9B96D;
}
.workOne{
    background-color: #F9B96D;
}
.workThree{
    background-color: #F9B96D;
    display:flex;
    width: 100%;
}

.workTwo{
    background-color: #f9DD78;
    width: 100%;
    display:flex;

}
.Brooklynimg, .BkRd{
    width: 50%;
    vertical-align: top;
}

.Cs3img, .fccRd{
    width: 50%;
    vertical-align: bottom;
}